{# esto es un comentario #}
{% extends "ventaCamiones/base.html" %}

{% block contenido %}
        
        <h1>Listado de Camiones</h1>
        {% for r in camiones_list %}
        
        <div class="card border-danger mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="media/{{ r.imagen }}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-header">{{r.marca}}</h5>
                    {% for i in r.categorias.all %}
                        <p class="card-footer ">{{ i.nombre }}</p>
                    {% endfor %}
                    <a href="{% url 'detalle' r.id %}" class="btn btn-danger">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
        {% include 'ventaCamiones/includes/camion_crear.html' %}
{% endblock %}