{# esto es un comentario #}
{% extends "ventaCamiones/base.html" %}

{% block contenido %}
    <h1>Detalle de {{ camiones.marca }}</h1>
    <p><img src="/media/{{ camiones.imagen }}" alt=""></p>
    <p>{{camiones.modelo}}</p>
    <p>{{ camiones.kilometros }}</p>
    <p>{{camiones.descripcion|linebreaks }}</p>
    <p>{{ camiones.precio }}</p>
    <p>{{ receta.created }}</p>
    <p>{{ receta.updated }}</p>
    {% for i in receta.categorias.all %}
            <p>{{ i.nombre }}</p>
    {% endfor %}

    {% include 'ventaCamiones/includes/camion_updatemodif.html' %}
{% endblock %}