<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create empresa</title>
</head>
<body>
    <!-- si pones tal cual {{ form }} te saldra el formulario en linea -->
    <form method="post">
        <!-- Aqui sale con el formato -->
        {% csrf_token %}
        <!-- si ponemos as_p genera parrafos en cada campo del form -->
        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" value="Crear empresa">
    </form>
</body>
</html>